<div class="position-relative">
  <div class="card w-95 position-absolute start-2">
    <div class="card-body">
      <div id="carousel"></div>
      <a id="left-arrow" class="btn btn-dark btn-lg rounded-circle position-absolute top-50 start-0 translate-middle ">❮</a>
      <a id="right-arrow" class="btn btn-dark btn-lg rounded-circle position-absolute top-50 start-100 translate-middle">❯</a>
    </div>
  </div>
</div>
