<div class="container-fluid">
  {% if data.message %}
    <div class="text-center vh-100 mt-5">
      <h1>404 Not Found</h1>
      {{ data.message }}
    </div>
  {% else %}
    <h1 class="text-left">
      {{ data.post.title }}
    </h1>
    <div class="text-left">
      <img src={{ data.post['thumbnail_uri'][0]|image_style('post_thumbnail') }}>
      <span>
        {{ data.post.body|raw }}
      </span>
    </div>
  {% endif %}
</div>
