.author {
  font-size: small;
}

.highlight {
  box-shadow: inset;
}

.animated-class {
  color: red;
}

.font-mono {
  font-family: monospace;
  font-size: smaller;
}

.square {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
}

.score {
  font-size: xx-large;
  color: white;
}

.col-hr {
  border-right: 1px solid #c7c8c9;
}

.bottom-hr {
  border-bottom: 1px solid #c7c8c9;
}

.movie-title>a {
  color: white;
}

.score-hr {
  border-top: 1px solid white;
}

.wraping-image {
  float: left;
  margin-right: 10px;
}