#carousel {
  overflow: hidden;
  white-space: nowrap;
}

.slide-image {
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.slide-image>img {
  width: 1850px;
  height: 374px;
  object-fit: cover;
}

.w-95 {
  width: 95%;
}

.start-2 {
  left: 2.5%;
}

.mb-24 {
  margin-bottom: 25.5rem;
}

#left-arrow,
#right-arrow {
  border: solid 2px white;
}
